@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-500Italic.eot");
  src: url("../fonts/Museo/MuseoCyrl-500Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-500Italic.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-500Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-900.eot");
  src: url("../fonts/Museo/MuseoCyrl-900.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-900.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-900.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-700.eot");
  src: url("../fonts/Museo/MuseoCyrl-700.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-700.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-700.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-900Italic.eot");
  src: url("../fonts/Museo/MuseoCyrl-900Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-900Italic.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-900Italic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-700Italic.eot");
  src: url("../fonts/Museo/MuseoCyrl-700Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-700Italic.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-700Italic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-300Italic.eot");
  src: url("../fonts/Museo/MuseoCyrl-300Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-300Italic.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-300Italic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-300.eot");
  src: url("../fonts/Museo/MuseoCyrl-300.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-300.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-300.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-100Italic.eot");
  src: url("../fonts/Museo/MuseoCyrl-100Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-100Italic.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-100Italic.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-100.eot");
  src: url("../fonts/Museo/MuseoCyrl-100.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-100.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-100.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Cyrl';
  src: url("../fonts/Museo/MuseoCyrl-500.eot");
  src: url("../fonts/Museo/MuseoCyrl-500.eot?#iefix") format('embedded-opentype'), url("../fonts/Museo/MuseoCyrl-500.woff2") format('woff2'), url("../fonts/Museo/MuseoCyrl-500.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraBold.eot");
  src: url("../fonts/Circe/Circe-ExtraBold.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-ExtraBold.woff2") format('woff2'), url("../fonts/Circe/Circe-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraLight.eot");
  src: url("../fonts/Circe/Circe-ExtraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-ExtraLight.woff2") format('woff2'), url("../fonts/Circe/Circe-ExtraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-Bold.woff2") format('woff2'), url("../fonts/Circe/Circe-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Thin.eot");
  src: url("../fonts/Circe/Circe-Thin.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-Thin.woff2") format('woff2'), url("../fonts/Circe/Circe-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-Regular.woff2") format('woff2'), url("../fonts/Circe/Circe-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe/Circe-Light.woff2") format('woff2'), url("../fonts/Circe/Circe-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
