.front-promo {
  padding-top: 90px;
  padding-bottom: 150px;
  background: url("../images/pattern-1.png") $dark repeat left top;
  color: #fff;
  &-picture {
    filter: drop-shadow(0px 4px 52px rgba(0, 0, 0, 0.24));
    img {
      display: block;
      width: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 515px 100%, 515px 380px, 0 380px);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 515px 100%, 515px 380px, 0 380px);
    }
  }
  &-inner {
    position: relative;
  }
  &-text {
    position: absolute;
    right: 80px;
    bottom: 90px;
    z-index: 5;
    font-family: $circe;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 500;
    max-width: 215px;
    letter-spacing: 0.5px;
  }
  &-content {
    position: absolute;
    top: 375px;
    left: 0;
    padding: 50px 30px 0 75px;
    z-index: 5;
    max-width: 520px;
  }
  &-title {
    font-size: 43px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 35px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      left: -205px;
      width: 70px;
      height: 3px;
      background-color: $brown;
    }
  }
}
