.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 0;
  color: $white;
  font-family: $circe;
  transition: background-color 0.4s;
  .path-contacts & {
    position: absolute;
  }
  &--fixed {
    background-color: $dark;
    .path-contacts & {
      background-color: transparent;
    }
  }
  .frontpage & {
    background: url("../images/pattern-1.png") $dark repeat left top;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
  }
  &-col {
    padding: 0 15px;
    &--logo {
      flex-grow: 1;
    }
    &--nav {
      max-width: 420px;
      flex-grow: 1;
      margin-right: 90px;
      padding-top: 4px;
    }
    &--contacts {
      padding-top: 4px;
    }
  }
  &-logo {
    display: flex;
    align-items: center;
    color: $white;
    &-icon {
      margin-right: 23px;
      transition: transform 0.4s, opacity 0.4s;
    }
    &-title {
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
      transition: color 0.4s;
    }
    &:hover &-icon {
      transform: translate3d(3px, 0, 0);
    }
    &:hover &-title {
      color: lighten($brown, 5%);
    }
    &:active &-icon {
      opacity: 0.55;
    }
  }
  &-phone {
    display: block;
    font-size: 19px;
    border-bottom: solid 1px transparent;
    transition: border-color 0.4s;
    font-weight: bold;
    @include textGradient;
    .path-contacts & {
      @include textDarkGradient;
    }
    &:hover {
      border-color: rgba($brown, .65);
    }
    &:active {
      border-color: $brown;
    }
  }
  .nav {
    padding: 0;
    margin: 0 -15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    .path-contacts & {
      color: $brownDark;
    }
    &-item {
      padding: 0 15px;
      font-size: 15px;
      text-transform: uppercase;
      &-link {
        border-bottom: solid 1px transparent;
        transition: border-color 0.4s, color 0.4s;
        &:hover {
          border-color: $white;
          .path-contacts & {
            border-color: $brownDark;
          }
        }
        &:active {
          color: $brown;
          .path-contacts & {
            border-color: $brown;
          }
        }
      }
    }
  }
}
