.container {
  margin: 0 auto;
  max-width: $container_width;
  width: 100%;
  padding: 0 $cols_padding;
  &--small {
    max-width: 1030px + ($cols_padding * 2);
  }
}
.section {
  color: #0c0d22;
  padding: 100px 0;
  &--dark {
    background: url("../images/pattern-1.png") $dark repeat left top;
    color: #fff;
  }
  &--front-form {
    padding: 140px 0;
  }
  &-title {
    font-size: 54px;
    line-height: 1.25;
    font-weight: 500;
    margin: 0 0 55px;
    &--center {
      text-align: center;
    }
  }
}
.page {
  &-promo {
    padding-top: 142px;
    padding-bottom: 60px;
    color: $white;
    background-color: $dark;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    &-back {
      display: flex;
      align-items: center;
      margin-bottom: 195px;
      padding-left: 75px;
      color: $white;
      font-family: $circe;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 13px;
        flex-shrink: 0;
        margin-right: 27px;
        position: relative;
        top: -1px;
        transition: transform 0.4s;
        background: url("../images/link-back-icon.png") no-repeat center;
      }
      &:hover {
        &::before {
          transform: translate3d(-4px, 0, 0);
        }
      }
      &:active {
        &::before {
          transform: translate3d(-8px, 0, 0);
        }
      }
    }
    &--portfolio {
      background-image: url("../images/page-promo-portfolio-bg.jpg");
    }
    &--portfolio-in {
      padding-bottom: 90px;
    }
    &--service-in {
      background-image: url("../images/page-promo-service-in-bg.jpg");
    }
    &--design-in {
      background-image: url("../images/page-promo-design-in-bg.jpg");
    }
    &--repair-in {
      background-image: url("../images/page-promo-repair-in-bg.jpg");
    }
    .section-title {
      margin: 0;
      padding-left: 75px;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 70px;
        height: 4px;
        background-color: $brown;
        position: absolute;
        top: 32px;
        left: -140px;
      }
    }
    &--portfolio-in {
      .section-title {
        max-width: 690px;
      }
    }
  }
  &-content {
    padding: 62px 0;
    background-color: $white;
    &--portfolio {
      padding: 80px 0 25px;
      .section-title {
        margin-bottom: 65px;
      }
    }
  }
}
