.services {
  display: flex;
  margin: 0 -15px;
  &-col {
    padding: 0 15px;
    flex-grow: 1;
    &--1 {
      max-width: 530px;
    }
    &--2 {
      max-width: 370px;
    }
    &--3 {
      max-width: 310px;
    }
  }
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 32px;
    transition: background-color 0.4s;
    &-content {
      padding: 92px 70px;
      min-height: 480px;
      border-radius: 5px;
      position: relative;
      background-color: rgba($black, .12);
      color: $white;
      z-index: 4;
      .services-col--2 & {
        padding-left: 52px;
        padding-right: 52px;
      }
      .services-col--3 & {
        padding-left: 38px;
        padding-right: 38px;
      }
      &::after {
        content: '';
        display: block;
        width: 32px;
        height: 25px;
        position: absolute;
        left: 73px;
        bottom: 44px;
        background: url("../images/services-item-arrow.png") no-repeat center;
        .services-col--2 & {
          left: 60px;
        }
        .services-col--3 & {
          left: 40px;
        }
      }
    }
    &-title {
      font-size: 24px;
      line-height: 1.5;
      text-transform: uppercase;
      margin-bottom: 55px;
      letter-spacing: 3px;
      @include textGradient;
    }
    &-text {
      font-family: $circe;
      font-size: 13px;
      line-height: 1.55;
      letter-spacing: 0.5px;
    }
    &-image {
      position: absolute;
      bottom: -30px;
      right: 40px;
      transition: opacity $duration * 2, transform $duration * 2;
      .services-col--3 & {
        right: 60px;
      }
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 32px;
      width: 100%;
      z-index: 5;
      opacity: 0;
      transform: translate3d(-100%, 0 ,0);
      pointer-events: none;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity $duration, transform $duration;
    }
    &:hover &-overlay {
      opacity: 1;
      transform: none;
      pointer-events: auto;
    }
    &:hover &-image {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
    }
  }
}
.service {
  &-in {
    &-image {
      text-align: center;
      margin: 0 0 80px;
    }
  }
}
